#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0 2rem 0;
  text-align: center;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.summary-wrapper {
  position: fixed;
  font-weight: bold;
  margin: 1.5vh 1.5vh 0 1.5vh;
  top: 0;
  left: 0;
}

.summary {
  padding: 1rem;
  background-color: #1a1a1a;
  margin: 1vh 2.5vh 0 0;
  border-radius: 1vh;
}

.xp-table {
  display: flex;
  flex-direction: column-reverse;
}

.xp-table-row {
  display: grid;
  grid-auto-flow: column;
}

.xp-table-level {
  padding-top: 1rem;
  display: flex;
  flex-direction: column-reverse;
}

.xp-table-level-header {
  padding-top: 1rem;
}

.xp-table-cell {
  position: relative;
  background-color: #363636;
  color: #1a1a1a;
  font-size: smaller;
  margin: .125rem;
  aspect-ratio: 1;
  height: 1rem;
  line-height: 1.25;
  padding: 0.125rem;
  display: flex;
  justify-content: center;
}

.xp-table-cell.filled span {
  display: none;
}

.xp-table-cell.filled::before,
.xp-table-cell.filled::after {
  top: 45%;
  position: absolute;
  content: '';
  width: 100%;
  height: 2px; /* cross thickness */
  background-color: #1a1a1a;
}

.xp-table-cell.filled::before {
  transform: rotate(45deg);
}

.xp-table-cell.filled::after {
  transform: rotate(-45deg);
}

.summary-current-level {
  display: none;
}

@media (prefers-color-scheme: light) {
  .summary {
    background-color: #e9e9e9;
  }
}

@media screen and (max-width: 1250px) {
  .summary-wrapper {
    position: relative;
    left: auto;
  }

  .xp-table {
    display: none;
  }

  .summary-current-level {
    display: block;
  }
}

.summary-table {
  background-color: #1a1a1a;
  padding: 2vh;
}

.main-title {
  margin: 3.5vh 3vh .5vh 3vh;
}

.challenge-group-title {
  padding: 1.5vh 0 .5vh;
}

.challenge-group-header {
  font-weight: bold;
}

.challenge, .challenge-group-header {
  cursor: pointer;
  display: grid;
  text-align: left;
  grid-template-columns: .5fr .5fr 6fr 1fr;
  gap: 1vw;
  margin: 0 3vw;
  align-items: center;
}

.challenge-name {
  padding: 0 1rem 0 1rem;
}

.checkbox {
  height: 1.5vh;
  cursor: pointer;
}

.strikethrough {
  text-decoration: line-through;
}

.reset-button-wrapper {
  margin: 4vh 0 0;
}