#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0 2rem 0;
  text-align: center;
}

.wrapper {
  display: flex;
  min-height: 100%;
} 

.summary {
  position: fixed;
  font-weight: bold;
  padding: 1vh;
  margin: 2.5vh 2.5vh 0 2.5vh;
  background-color: #1a1a1a;
  border-radius: 1vh;
  left: 0
}

@media (prefers-color-scheme: light) {
  .summary {
    background-color: #e9e9e9;
  }
}
@media screen and (max-width: 870px) {
  .wrapper {
    flex-direction: column;
  }

  .summary {
    position: relative;
    left: auto;
  }
}

.challenge-group-title {
  padding: 3vh 0 1vh;
  font-size: large;
  font-weight: bold;
}

.challenge-group-header {
  font-weight: bold;
}

.challenge, .challenge-group-header {
  cursor: pointer;
  display: grid;
  text-align: left;
  grid-template-columns: .5fr 1fr 6fr 1fr;
  gap: 1vw;
  margin: 0 3vw;
}

.challenge-name {
  padding: 0 1rem 0 1rem;
}

.checkbox {
  cursor: pointer;
}

.strikethrough {
  text-decoration: line-through;
}

.reset-button-wrapper {
  margin: 4vh 0 0;
}