#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  display: flex;
  min-height: 100%;
} 

.summary {
  padding: 1vh;
  background-color: #1a1a1a;
  border-radius: 1vh;
  position: relative;
}

.challenge-group-title {
  padding: 2vh 0 .5vh;
  font-size: large;
  font-weight: bold;
}

.challenge-group-header {
  font-weight: bold;
}

.challenge, .challenge-group-header {
  cursor: pointer;
  display: grid;
  text-align: left;
  grid-template-columns: .5fr 1fr 6fr 1fr;
  gap: 1vw;
  margin: 0 3vw;
}

.checkbox {
  cursor: pointer;
}

.strikethrough {
  text-decoration: line-through;
}

.reset-button-wrapper {
  margin: 4vh 0 0;
}